<script>
export default {
  data() {
    return {
      labels: [],
    }
  },

  mounted() {
    axios.get('/api/labels').then(response => {
      console.table(response.data)
      this.labels = response.data
    })
  },
}
</script>

<template>
  <div class="vue-labels">
    <h1>Vue Label(s):</h1>
    <div class="loop" v-for="(label_entry, table_charset) of labels">
      <div class="text-muted">
        <code>{{ table_charset }}</code> – rendered by vue (js):
      </div>
      <div class="title m-b-md">
        {{ label_entry.label }}
      </div>
    </div>
  </div>
</template>
